# EditorConfig is awesome: https://editorconfig.org
# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4

# Django template files and HTML files
[*.{html,css}]
indent_style = space
indent_size = 2

# JavaScript, JSON, and other front-end files
[*.{js,json,yml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
